name: CI

on:
  push:
    branches: ["main", "testing-branch"]
  pull_request:
    branches: ["main"]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install tools
        run: |
          python -m pip install --upgrade pip
          pip install pylint

      - name: Run pylint
        run: |
          pylint --disable=C0115,C0116,C0301 $(git ls-files '*.py')

      - name: Run unit tests
        run: |
          python -m unittest discover -s unittests -p "test*.py"
