name: Generate Pydoc

on:
  push:
    branches: ["main"]

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Generate docs with pydoc
        run: |
          mkdir -p docs
          for f in *.py; do
            pydoc -w "${f%.*}"
          done
          mv *.html docs/
